.appear-animation {
    opacity: 0;
}

.appear-animation-visible {
    opacity: 1;
}

@keyframes maskUp {
    from {
        transform: translate(0, 100%);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes maskRight {
    from {
        transform: translate(-100%, 0);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes maskDown {
    from {
        transform: translate(0, -100%);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes maskLeft {
    from {
        transform: translate(100%, 0);
    }

    to {
        transform: translate(0, 0);
    }
}

.maskUp {
    animation-name: maskUp;
}

.maskRight {
    animation-name: maskRight;
}

.maskDown {
    animation-name: maskDown;
}

.maskLeft {
    animation-name: maskLeft;
}

@keyframes headerReveal {
    from {
        top: -150px;
    }

    to {
        top: 0;
    }
}

@keyframes fadeInUpShorter {
    from {
        opacity: 0;
        transform: translate(0, 50px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUpShorter {
    animation-name: fadeInUpShorter;
}

@keyframes fadeInLeftShorter {
    from {
        opacity: 0;
        transform: translate(50px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeftShorter {
    animation-name: fadeInLeftShorter;
}

@keyframes fadeInRightShorter {
    from {
        opacity: 0;
        transform: translate(-50px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRightShorter {
    animation-name: fadeInRightShorter;
}

@keyframes fadeInDownShorter {
    from {
        opacity: 0;
        transform: translate(0, -50px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDownShorter {
    animation-name: fadeInDownShorter;
}

@keyframes expandIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.expandIn {
    animation-name: expandIn;
}

@keyframes gradientTransition {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes sliderScrollButton {
    0% {
        opacity: 1;
        transform: translate3d(-50%, 0, 0);
    }

    70% {
        opacity: 1;
        transform: translate3d(-50%, 10px, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(-50%, 10px, 0);
    }
}

@keyframes arrowLeftRight {
    0% {
        transform: translate3d(-1px, 0, 0);
    }

    50% {
        transform: translate3d(1px, 0, 0);
    }

    100% {
        transform: translate3d(-1px, 0, 0);
    }
}

@keyframes navItemArrow {
    0% {
        position: relative;
        #{$left}: -1px;
    }

    50% {
        position: relative;
        #{$left}: 3px;
    }

    100% {
        position: relative;
        #{$left}: -1px;
    }
}