.card .post-content.truncate {
    white-space: normal !important;
    max-height: 375px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.25rem;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: transparent;
        background-image: linear-gradient(hsla(0, 0%, 100%, 0), #fff 75%);
        z-index: 100;
    }

    .truncate-link {
        position: absolute;
        z-index: 200;
        bottom: 0;
        font-size: 0.8125rem;
    }
}

.post-content {
    font-size: 1.125rem;
    line-height: 1.5em;

    p {
        margin-bottom: 30px;
    }
}

.card .truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 100%;
}

.card {
    .post-image {
        max-height: 225px;
        overflow: hidden;
        
        &,
        img {
            width: 100%;
            display: block;
            transition: all ease-in-out .5s;
        }

        img:hover {
            opacity: 0.7;
            transform: scale(1.1);
        }
    }

    .post-content {
        padding: 1.5rem;

        a:not(.truncate-link) {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .post-title {
        position: relative;
        z-index: 200;
        font-weight: 500;
        font-size: 18px;
    }

    .post-tags {
        padding: 0 1.25rem;
        text-align: right;

        a:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }
    }
}

.blog-posts {
    &:not(.blog-posts-no-margin) {
        article {
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            margin-bottom: 50px;
            padding-bottom: 20px;
        }
    }

    &.blog-posts-no-margins {
        .pagination {
            margin-top: 1.8rem;
        }
    }
}

article {
    &.post {
        h2 a {
            text-decoration: none;
        }

        .post-meta {
            font-size: 0.9em;
            margin-bottom: 7px;

            > span {
                display: inline-block;
                padding-#{$right}: 8px;
            }

            i {
                margin-#{$right}: 3px;
            }
        }

        .post-date {
            float: left;
            margin-#{$right}: 10px;
            text-align: center;

            .month {
                display: block;
                background: #ccc;
                border-radius: corner-values(0 0 2px 2px);
                color: #fff;
                font-size: 0.8em;
                line-height: 1.8;
                padding: 1px 10px;
                text-transform: uppercase;
            }

            .day {
                background: #f7f7f7;
                border-radius: corner-values(2px 2px 0 0);
                color: #ccc;
                display: block;
                font-size: 18px;
                font-weight: 900;
                padding: 10px;
            }
        }
    }

    &.post-large {
        margin-#{$left}: 60px;

        h2 {
            margin-bottom: 5px;
        }

        .post-image, .post-date {
            margin-#{$left}: -60px;
        }

        .post-image {
            margin-bottom: 25px;

            &.single {
                margin-bottom: 30px;
            }
        }
    }
}

.single-post article {
    border-bottom: 0;
    margin-bottom: 0;
}

.single-post .post-image img {
    width: 100%;
    max-height: 450px;
    overflow: hidden;
}

article.single-blog-post .post-meta {
    margin-bottom: 20px;
}

.post-block {
    h3 {
        font-size: 1.8em;
        font-weight: 200;
        margin: 0 0 20px;
        text-transform: none;

        i {
            margin-#{$right}: 7px;
        }
    }
}

.recent-posts {
    h4 {
        margin-bottom: 7px;
    }

    article.recent-post h4 {
        margin: 0 0 3px 0;

        a {
            display: block;
        }
    }

    .post-image {
        height: 160px;
        overflow: hidden;
    }

    .date {
        margin-#{$right}: 10px;
        text-align: center;

        .month {
            background: #ccc;
            color: #fff;
            font-size: 0.9em;
            padding: 3px 10px;
            position: relative;
            top: -2px;
        }

        .day {
            background: #f7f7f7;
            color: #ccc;
            display: block;
            font-size: 18px;
            font-weight: bold;
            padding: 8px;
        }
    }
}

.post-title-link {
    a {
        color: inherit;

        &:hover {
            text-decoration: none;
            color: inherit;
            opacity: 1;
        }
    }
}

section.section .recent-posts .date .day {
    background: #fff;
}

ul.simple-post-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        @include clearfix;
        border-bottom: 1px dotted #e2e2e2;
        padding: 15px 0;

        &:last-child {
            border-bottom: 0;
        }
    }

    .post-image {
        float: $left;
        margin-#{$right}: 12px;
    }

    .post-meta {
        color: #888;
        font-size: 0.8em;
    }

    .post-info {
        line-height: 20px;
    }
}

@media (min-width: 750px) {
    .card .post-content {
        font-size: 1rem;
    }
}