.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.border-all {
    border: 1px solid rgba(0, 0, 0, 0.06) !important;
}

@for $i from 1 through 5 {
    .border-width-#{$i} {
        border-width: unquote($i + 'px') !important;
    }
}