.bg-color-grey {
    background-color: #f7f7f7 !important;
}

.bg-color-grey-scale-1 {
    background-color: #ededed !important;
}

.bg-color-grey-scale-2 {
    background-color: darken(#ededed, 2%) !important;
}

.bg-color-grey-scale-3 {
    background-color: darken(#ededed, 4%) !important;
}

.bg-color-grey-scale-4 {
    background-color: darken(#ededed, 6%) !important;
}

.bg-color-grey-scale-5 {
    background-color: darken(#ededed, 8%) !important;
}

.bg-color-grey-scale-6 {
    background-color: darken(#ededed, 10%) !important;
}

.bg-color-grey-scale-7 {
    background-color: darken(#ededed, 12%) !important;
}

.bg-color-grey-scale-8 {
    background-color: darken(#ededed, 14%) !important;
}

.bg-color-grey-scale-9 {
    background-color: darken(#ededed, 16%) !important;
}

.bg-color-grey-scale-10 {
    background-color: darken(#ededed, 18%) !important;
}