.clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

@media (min-width: 1440px) {
    .container-lg {
        max-width: 1440px;
    }

    .container-xl {
        max-width: 1630px;
    }
}

.min-height-screen {
    min-height: 100vh;
}

.box-shadow-1 {
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.45);
}

.box-shadow-2 {
    box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.45);
}

.border-radius {
    border-radius: 4px !important;
}

.hover-effect-1 {
    &:not(.portfolio-item) {
        box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0);
        transition: ease transform 300ms, ease box-shadow 300ms;

        &:hover {
            box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
            transform: translate3d(0, -15px, 0);
        }
    }

    &.portfolio-item {
        transition: ease transform 300ms;

        .thumb-info {
            box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0);
            transition: ease box-shadow 300ms;
        }

        &:hover,
        &.show {
            transform: translate3d(0, -15px, 0);

            .thumb-info {
                box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
            }
        }
    }

    a {
        transition: ease color 300ms;
    }
}

.hover-effect-2 {
    opacity: 1;
    transition: ease opacity 300ms;

    &:hover {
        opacity: 0.85;
    }
}

.hover-effect-3 {
    opacity: 0.3;
    transition: ease opacity 300ms;

    &:hover {
        opacity: 1;
    }
}