.env
.env.backup
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
/.idea
/node_modules
/public/doc_files
/public/docs
/public/docs_sitemap.xml
/public/hot
/public/sitemap.xml
/public/sitemap_index.xml
/public/storage
/public/js/*.txt
/storage/*.key
/storage/docs
/storage/docs-temp
/vendor
Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
npm-debug.log
public/avatars
yarn-error.log
