.env
.env.backup
.env.local
.env.production
.envault.json
.phpstorm.meta.php
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/build
/public/docs
/public/doc-files
/public/hot
/public/sitemap.xml
/public/sitemap_docs.xml
/public/sitemap_pages.xml
/public/storage
/storage/*.key
/storage/docs
/storage/docs-temp
/vendor
Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
auth.json
npm-debug.log
yarn-error.log

# Storage disks
public/avatars
