[x-cloak=''],
[x-cloak='x-cloak'],
[x-cloak='1'] {
    display: none !important;
}

@media (max-width: 1023px) {
    [x-cloak='-lg'] {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    [x-cloak='lg'] {
        display: none !important;
    }
}
