.card {
    box-shadow: $box-shadow;
}

.well,
pre {
    box-shadow: $box-shadow;
}

.card-no-border {
    > .card {
        border-color: $card-border;
        border-radius: $radius;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    }

    .sidebar-footer {
        background: $sidebar-alt;
    }

    .sidebar-nav > ul > li > a.active {
        background: $white;
    }
}

.card-no-border .shadow-none {
    box-shadow: none;
}

.card-outline-danger,
.card-outline-info,
.card-outline-warning,
.card-outline-success,
.card-outline-primary {
    background: $white;
}

.card-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    border-radius: 0;

    .card-header,
    .card-footer {
        border-radius: 0;
    }
}

.card {
    margin-bottom: 30px;

    .card-subtitle {
        font-weight: 300;
        margin-bottom: 15px;
        color: $muted;
    }
}

.card-inverse {
    .card-blockquote .blockquote-footer,
    .card-link,
    .card-subtitle,
    .card-text {
        color: rgba(255, 255, 255, 0.65);
    }
}

.card-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }
}

$card-colors: (
    success: $success, danger: $danger, warning: $warning,
    info: $info, primary: $primary, dark: $inverse, megna: $megna,
    inverse: $inverse,
);

@each $key, $val in $card-colors {
    .card-#{$key} {
        background: $val;
        border-color: $val;
    }

    .card-header-#{$key} {
        .card-header {
            background-color: $val;
            border-bottom-color: $val;
            color: $white;
        }
    }

    .card-outline-#{$key} {
        border-color: $val;

        .card-header {
            background: $val;
            border-color: $val;
        }
    }
}

.card-actions {
    display: flex;
    align-items: center;

    a {
        cursor: pointer;
        color: inherit;
        opacity: 0.7;
        padding-left: 7px;
        font-size: 13px;

        &:hover {
            opacity: 1;
        }
    }
}

.card.has-card-actions {
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.card-columns .card {
    margin-bottom: 20px;
}

.collapsing {
    transition: height .08s ease;
}

html body .accordion {
    .card {
        margin-bottom: 0;
    }
}

.card-inverse {
    .card-blockquote,
    .card-footer,
    .card-header,
    .card-title {
        color: $white;
    }
}

.card-white {
    background: $white;

    .card-footer,
    .card-header {
        background-color: $white;
        border: none;
    }
}