.scale-up,
.scale-up-left {
    transition: all 0.3s ease;
    transform: scale(0);
    display: inline-block;
}

.scale-up {
    transform-origin: right 0;
}

.scale-up-left {
    transform-origin: left 0;
}

.show {
    > .scale-up {
        transform: scale(1);
        transform-origin: right 0;
    }

    > .scale-up-left {
        transform: scale(1);
        transform-origin: left 0;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.page-titles .justify-content-end:last-child .d-flex {
    margin-right: 10px;
}

.btn-circle.right-side-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 25px;
}

.trigger-btn {
    text-align: left;
    color: $headingtext;
    font-size: inherit;
    line-height: inherit;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
        color: $headingtext;
        text-decoration: none;
    }
}

.clear {
    clear: both;
}

ol li {
    margin: 5px 0;
}

.hide {
    display: none;
}

.img-circle {
    border-radius: 100%;
}

.radius {
    border-radius: $radius;
}

.invisible {
    visibility: hidden !important;
}

.hidden-xs-up {
    display: none !important;
}

.hidden-xl-down {
    display: none !important;
}

.v-affix {
    width: 100%;
    position: relative;
}

.affix {
    position: fixed;
    width: inherit;
    max-width: inherit;
}

.affix-bottom {
    position: relative;
}

.dropdown-header {
    font-weight: 500;
    padding-left: 1rem;
    opacity: .85;
}

.dropdown-item {
    > i {
        margin-right: 10px;
    }
}

.modal-header {
    background-color: $primary;
    color: $white;
}

.modal-content {
    border-radius: 0.4rem;
}

.modal-title,
.modal-header .close {
    color: inherit;
}

.modal-footer {
    border-top: 0;
}

img.avatar {
    width: 6rem;
    height: 6rem;
}

.badge-icon {
    padding: .45em .5em;
    border-radius: 50%;
}

/////////////////
// Social buttons
///////////////

.social-btn {
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }

    > i {
        display: inline-block;
        height: 100%;
        padding: 7px 12px;
    }

    > span {
        padding: 7px 12px;
    }
}

$social-providers: (facebook: $facebook, google: $google, github: $github, twitter: $twitter, linkedin: $linkedin);

@each $provider, $color in $social-providers {
    .bg-#{$provider} {
        background-color: $color;
        border-color: $color;
    }

    .btn-#{$provider}-light {
        background-color: lighten($color, 15%);
        border-color: lighten($color, 15%);
        color: $white;

        &:hover {
            background-color: $color;
            border-color: $color;
            color: $white;
        }
    }
}

[v-cloak] {
    display: none;
}