.noty_theme__mint.noty_bar .noty_body {
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;

    > i {
        font-size: 22px;
        margin-right: 15px;
    }
}

#noty_layout__topCenter {
    top: 0;
}

#noty_layout__bottomCenter {
    bottom: 0;
}

#noty_layout__bottomCenter,
#noty_layout__topCenter {
    left: 0;
    transform:  unset;
    width: 100%;
    max-width: 100%;

    .noty_bar {
        margin: 0;
        border-radius: 0;

        .noty_body {
            justify-content: center;
            width: 100%;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}