.password-strength {
    max-width: 375px;
    margin: 0 auto;

    .strength-label {
        margin-top: -10px;
    }
}

.password-strength-meter {
    position: relative;
    height: 3px;
    background: $password-strength-meter-bg;
    margin: 10px auto 20px;
    border-radius: 3px;

    &:before,
    &:after {
        content: '';
        height: inherit;
        background: transparent;
        display: block;
        border-color: $white;
        border-style: solid;
        border-width: 0 5px 0 5px;
        position: absolute;
        width: 80px;
        z-index: 10;
    }

    &:before {
        left: 70px;
    }

    &:after {
        right: 70px;
    }
}

.password-strength-meter-fill {
    background: transparent;
    height: inherit;
    position: absolute;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;

    &[data-score='0'] {
        background: $password-very-weak-score;
        width: 20%;
    }

    &[data-score='1'] {
        background: $password-weak-score;
        width: 40%;
    }

    &[data-score='2'] {
        background: $password-acceptable-score;
        width: 60%;
    }

    &[data-score='3'] {
        background: $password-strong-score;
        width: 80%;
    }

    &[data-score='4'] {
        background: $password-very-strong-score;
        width: 100%;
    }
}