table.b-table {
    // Fixed table
    .b-table-fixed {
        table-layout: fixed;
    }

    // Busy table
    &[aria-busy="false"] {
        opacity: 1;
    }

    &[aria-busy="true"] {
        opacity: 0.6;
    }

    // Sort styling
    > thead > tr > th,
    > tfoot > tr > th {
        position: relative;

        &.sorting {
            padding-right: 1.5em;
            cursor: pointer;

            &:before,
            &:after {
                display: inline-block;
                opacity: 0.4;
                font-size: inherit;
                margin-left: 5px;
            }

            &:after {
                content: "\F4BA";
                font-family: "Material Design Icons";
            }
        }

        &.sorting_asc,
        &.sorting_desc {
            &:before,
            &:after {
                opacity: 1;
            }
        }

        &.sorting_asc {
            &:after {
                content: "\F4BC";
            }
        }

        &.sorting_desc {
            &:after {
                content: "\F4BD";
            }
        }
    }

    &.b-table-stacked,
    &.b-table-stacked > tbody,
    &.b-table-stacked > tbody > tr,
    &.b-table-stacked > tbody > tr > td,
    &.b-table-stacked > tbody > tr > th,
    &.b-table-stacked > caption {
        display: block;
    }

    &.b-table-stacked {
        > thead,
        > tfoot,
        > tbody > tr.b-table-top-row,
        > tbody > tr.b-table-bottom-row {
            display: none;
        }

        // Inter-row top border
        > tbody > tr > :first-child {
            border-top-width: 0.4rem;
        }

        // Convert td/th contents to "cells". Caveat: child elements become cells!
        > tbody > tr > [data-label] {
            display: grid;
            grid-template-columns: 40% auto;
            grid-gap: 0.25rem 1rem;

            // Generate row cell "heading"
            &::before {
                content: attr(data-label);
                display: inline;
                text-align: right;
                overflow-wrap: break-word;
                font-weight: bold;
                font-style: normal;
            }
        }
    }

    // Details row
    > tbody > tbody > tr.b-table-details > td {
        border-top: none;
    }
}

@media all and (max-width: 575.98px) {
    // under sm
    table.b-table {
        &.b-table-stacked-sm {
            width: 100%;
        }

        &.b-table-stacked-sm,
        &.b-table-stacked-sm > tbody,
        &.b-table-stacked-sm > tbody > tr,
        &.b-table-stacked-sm > tbody > tr > td,
        &.b-table-stacked-sm > tbody > tr > th,
        &.b-table-stacked-sm > caption {
            display: block;
        }

        &.b-table-stacked-sm {
            > thead,
            > tfoot,
            > tbody > tr.b-table-top-row,
            > tbody > tr.b-table-bottom-row {
                display: none;
            }
        }

        &.b-table-stacked-sm > tbody > tr > :first-child {
            border-top-width: 0.4rem;
        }

        &.b-table-stacked-sm > tbody > tr > [data-label] {
            display: grid;
            grid-template-columns: 40% auto;
            grid-gap: 0.25rem 1rem;

            &::before {
                content: attr(data-label);
                display: inline;
                text-align: right;
                overflow-wrap: break-word;
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}

@media all and (max-width: 767.98px) {
    // under md
    table.b-table {
        &.b-table-stacked-md {
            width: 100%;
        }

        &.b-table-stacked-md,
        &.b-table-stacked-md > tbody,
        &.b-table-stacked-md > tbody > tr,
        &.b-table-stacked-md > tbody > tr > td,
        &.b-table-stacked-md > tbody > tr > th,
        &.b-table-stacked-md > caption {
            display: block;
        }

        &.b-table-stacked-md {
            > thead,
            > tfoot,
            > tbody > tr.b-table-top-row,
            > tbody > tr.b-table-bottom-row {
                display: none;
            }
        }

        &.b-table-stacked-md > tbody > tr > :first-child {
            border-top-width: 0.4rem;
        }

        &.b-table-stacked-md > tbody > tr > [data-label] {
            display: grid;
            grid-template-columns: 40% auto;
            grid-gap: 0.25rem 1rem;

            &::before {
                content: attr(data-label);
                display: inline;
                text-align: right;
                overflow-wrap: break-word;
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}

@media all and (max-width: 991.98px) {
    // under lg
    table.b-table {
        &.b-table-stacked-lg {
            width: 100%;
        }

        &.b-table-stacked-lg,
        &.b-table-stacked-lg > tbody,
        &.b-table-stacked-lg > tbody > tr,
        &.b-table-stacked-lg > tbody > tr > td,
        &.b-table-stacked-lg > tbody > tr > th,
        &.b-table-stacked-lg > caption {
            display: block;
        }

        &.b-table-stacked-lg {
            > thead,
            > tfoot,
            > tbody > tr.b-table-top-row,
            > tbody > tr.b-table-bottom-row {
                display: none;
            }
        }

        &.b-table-stacked-lg > tbody > tr > :first-child {
            border-top-width: 0.4rem;
        }

        &.b-table-stacked-lg > tbody > tr > [data-label] {
            display: grid;
            grid-template-columns: 40% auto;
            grid-gap: 0.25rem 1rem;

            &::before {
                content: attr(data-label);
                display: inline;
                text-align: right;
                overflow-wrap: break-word;
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}

@media all and (max-width: 1199.98px) {
    // under xl
    table.b-table {
        &.b-table-stacked-xl {
            width: 100%;
        }

        &.b-table-stacked-xl,
        &.b-table-stacked-xl > tbody,
        &.b-table-stacked-xl > tbody > tr,
        &.b-table-stacked-xl > tbody > tr > td,
        &.b-table-stacked-xl > tbody > tr > th,
        &.b-table-stacked-xl > caption {
            display: block;
        }

        &.b-table-stacked-xl {
            > thead,
            > tfoot,
            > tbody > tr.b-table-top-row,
            > tbody > tr.b-table-bottom-row {
                display: none;
            }
        }

        &.b-table-stacked-xl > tbody > tr > :first-child {
            border-top-width: 0.4rem;
        }

        &.b-table-stacked-xl > tbody > tr > [data-label] {
            display: grid;
            grid-template-columns: 40% auto;
            grid-gap: 0.25rem 1rem;

            &::before {
                content: attr(data-label);
                display: inline;
                text-align: right;
                overflow-wrap: break-word;
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}