html {
    direction: $dir;
    //overflow-x: hidden;
    box-shadow: none !important;
}

body {
    background-color: $light-bg;
    color: $color-font-default;
    font-family: $font-primary;
    font-size: $body-font-size + 0px;
    line-height: $body-line-height + 0px;
    margin: 0;

    @include if-rtl() {
        text-align: right;
    }

    a {
        outline: none !important;
    }
}

.body {
    background-color: $light-bg;
}

li {
    line-height: 24px;
}

.index-first-section {
    background-image: url('../../../../images/laptop.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-color: #e8e8e8 !important;
    position: relative;

    @media (max-width: 992px) {
        background-size: contain !important;
        background-position: right top !important;

        &:before {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            content: "";
            background-color: rgba(#e8e8e8, 0.75);
        }
    }

    @media (max-width: 485px) {
        background-size: cover !important;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 13px;
    }
}