@media (max-width: 991px) {
    #header {
        .header-nav-main nav {
            #header-nav:after {
                content: "";
                background: #ddd;
                width: 2000px;
                left: -1000px;
                height: 1px;
                position: absolute;
            }
        }

        &.affix {
            .navbar-toggler {
                top: -59px !important;
            }
        }


        .header-nav-main {
            position: absolute;
            background: transparent;
            width: 100%;
            top: 100%;
            left: 50%;
            transform: translate3d(-50%, 0, 0);

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                width: 100vw;
                height: 100%;
                background: #fff;
                z-index: -1;
                transform: translateX(-50%);
            }

            nav {
                max-height: 50vh;
                overflow: visible;
                padding: 0 15px;
                transition: ease all 500ms;

                &.collapsing {
                    overflow-y: hidden;
                }

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 0;
                    border-radius: 0;
                    background: rgba(#ccc, 0.5);
                }

                .navbar-toggler {
                    position: absolute;
                    top: -70px;
                    right: 15px;
                }

                #header-nav > ul {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    flex-direction: column;

                    li {
                        border-bottom: 1px solid #e8e8e8;
                        clear: both;
                        display: block;
                        float: none;
                        margin: 0;
                        padding: 0;
                        position: relative;

                        a {
                            font-size: 13px;
                            font-style: normal;
                            line-height: 20px;
                            padding: 7px 8px;
                            margin: 1px 0;
                            border-radius: 4px;
                            text-align: $left;

                            &.dropdown-toggle {
                                position: relative;

                                &:after {
                                    content: none;
                                }
                            }

                            &:active {
                                background-color: #f8f9fa;
                                color: inherit;
                            }
                        }

                        &.dropdown {
                            .dropdown-menu {
                                background: transparent;
                                padding: 0;
                                margin: 0;
                                font-size: 13px;
                                box-shadow: none;
                                border-radius: 0;
                                border: 0;
                                clear: both;
                                display: none;
                                float: none;
                                position: static;

                                li {
                                    &.dropdown-submenu {
                                        > a {
                                            position: relative;

                                            &:after {
                                                content: none;
                                            }
                                        }

                                        &.open {
                                            > .dropdown-menu {
                                                display: block;
                                                margin-#{$left}: 20px;
                                            }
                                        }
                                    }
                                }
                            }

                            &.open {
                                > .dropdown-menu {
                                    display: block;
                                    margin-#{$left}: 20px;
                                }
                            }
                        }

                        &.dropdown-mega {
                            .dropdown-mega-sub-title {
                                margin-top: 10px;
                                display: block;
                                text-align: $left;
                            }

                            .dropdown-mega-sub-nav {
                                margin: side-values(0 0 0 20px);
                                padding: 0;
                                list-style: none;

                                > li {
                                    > a {
                                        display: block;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }

                        &:last-child {
                            border-bottom: 0;
                        }
                    }

                    > li {
                        > a {
                            text-transform: uppercase;
                            font-weight: 700;
                            margin-top: 1px;
                            margin-bottom: 1px;
                            color: $nav-link-active-color;

                            &:active {
                                color: #ccc;
                            }

                            &.active {
                                color: #fff !important;
                                background: $nav-link-active-color;

                                &:focus, &:hover {
                                    color: #fff;
                                    background: $nav-link-active-color;
                                }
                            }
                        }
                    }
                }

                .not-included {
                    margin: 0;
                }
            }

            // Thumb Preview
            a {
                > .thumb-info-preview {
                    display: none !important;
                }
            }

            // Header Nav Main Square
            &.header-nav-main-square {
                nav {
                    > ul {
                        > li {
                            a {
                                border-radius: 0 !important;
                            }
                        }
                    }
                }
            }

            // Header Nav Slide
            &.header-nav-main-slide {
                .wrapper-items-cloned {
                    display: none;
                }
            }
        }

        // Header Navbar
        .header-nav-bar {
            .header-container {
                min-height: 0;
                height: auto !important;
            }

            .header-nav {
                min-height: 60px !important;
                padding: 0;
            }
        }

        .header-btn-collapse-nav {
            outline: 0;
            display: block;
            position: relative;
            z-index: 1;
        }

        // Header Nav Styles
        .header-nav {
            &.header-nav-stripe {
                min-height: 90px;
            }

            &.header-nav-links,
            &.header-nav-line {
                min-height: 70px;
            }

            &.header-nav-dropdowns-dark {
                min-height: 70px;
            }

            &.header-nav-sub-title,
            &.header-nav-sub-title-animated {
                .header-nav-main {
                    nav {
                        > ul {
                            > li {
                                > a {
                                    > span {
                                        display: block;
                                        text-transform: none;
                                        font-weight: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}