// Header nav main
@media (min-width: 992px) {
    #header {
        .header-nav-main {
            display: flex !important;
            height: auto !important;

            nav {
                display: flex !important;
                padding: 0;

                #header-nav,
                #header-nav > ul,
                #header-nav > ul > li {
                    height: 100%;
                    align-self: stretch;
                }

                #header-nav > ul {
                    > li {
                        height: 100%;
                        align-self: stretch;
                        margin-#{$left}: 2px;

                        > a {
                            display: inline-flex;
                            align-items: center;
                            white-space: normal;
                            border-radius: 4px;
                            color: #ccc;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            padding: 0.5rem 1rem;
                            letter-spacing: -0.5px;
                            text-transform: uppercase;

                            &:after {
                                display: none;
                            }

                            &:active {
                                background-color: transparent;
                                text-decoration: none;
                                color: #ccc;
                            }

                            &.active {
                                background-color: transparent;
                            }

                        }
                        &.open, &:hover {
                            > a {
                                background: #ccc;
                                color: #fff;
                            }
                        }

                        &.dropdown {
                            .dropdown-menu {
                                top: -10000px;
                                display: block;
                                opacity: 0;
                                left: auto;
                                border-radius: corner-values(0 4px 4px);
                                border: 0;
                                border-top: 3px solid #ccc;
                                box-shadow: 0 15px 30px -5px rgba(0,0,0,.07);
                                margin: 0;
                                min-width: 200px;
                                padding: 5px 0;
                                text-align: $left;

                                li {
                                    a {
                                        border-bottom: 1px solid #f7f7f7;
                                        color: #777;
                                        font-size: 0.8em;
                                        font-weight: 400;
                                        padding: side-values(6px 18px 6px 18px);
                                        position: relative;
                                        text-transform: none;
                                        letter-spacing: -0.5px;

                                        &:hover, &:focus, &.active, &:active {
                                            background-color: transparent;
                                        }
                                    }

                                    &:hover, &:focus, &.active, &:active {
                                        > a {
                                            background-color: #f8f9fa;
                                        }
                                    }

                                    &.dropdown-submenu {
                                        position: relative;

                                        > a {
                                            &:after {
                                                font-family: 'Material Design Icons';
                                                content: "\F04D";
                                                font-weight: 900;
                                                position: absolute;
                                                top: 50%;
                                                font-size: 0.5rem;
                                                opacity: 0.7;
                                                #{$right}: 20px;
                                                transform: translateY(-50%);
                                                transition: all .2s ease-out;
                                            }
                                        }

                                        > .dropdown-menu {
                                            #{$left}: 100%;
                                            display: block;
                                            margin-top: -8px;
                                            margin-#{$left}: -1px;
                                            border-radius: 4px;
                                            opacity: 0;
                                            transform: translate3d(0, 0, 0);
                                        }

                                        &.open, &:hover {
                                            > a {
                                                &:after {
                                                    opacity: 1;
                                                    #{$right}: 15px;
                                                }
                                            }

                                            > .dropdown-menu {
                                                top: 0;
                                                opacity: 1;
                                            }
                                        }

                                        &.dropdown-reverse {
                                            &:hover > a {
                                                &:after {
                                                    #{$right}: 30px;
                                                    transform: translateY(-50%) rotateY(180deg);
                                                }
                                            }
                                            > .dropdown-menu {
                                                #{$left}: auto;
                                                #{$right}: 100%;
                                                transform: translate3d(0, 0, 0);
                                            }
                                        }
                                    }

                                    &:last-child {
                                        a {
                                            border-bottom: 0;
                                        }
                                    }
                                }
                            }

                            &.open, &:hover {
                                > a {
                                    border-radius: 4px 4px 0 0;
                                    position: relative;

                                    &:before {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: -3px;
                                        border-bottom: 5px solid #ccc;
                                    }
                                }

                                > .dropdown-menu {
                                    top: auto;
                                    display: block;
                                    opacity: 1;
                                }
                            }

                            &.dropdown-reverse {
                                > .dropdown-menu {
                                    #{$left}: auto;
                                    #{$right}: 0;
                                }
                            }
                        }

                        // Mega Menu
                        &.dropdown-mega {
                            position: static;

                            > .dropdown-menu {
                                border-radius: 4px;
                                left: 15px;
                                right: 15px;
                                width: auto;
                            }

                            .dropdown-mega-content {
                                padding: 1.6rem;
                            }

                            .dropdown-mega-sub-title {
                                color: #333;
                                display: block;
                                font-size: 0.85em;
                                font-weight: 600;
                                margin-top: 20px;
                                padding-bottom: 10px;
                                text-transform: uppercase;
                                letter-spacing: -0.5px;

                                &:first-child {
                                    margin-top: 0;
                                }
                            }

                            .dropdown-mega-sub-nav {
                                list-style: none;
                                padding: 0;
                                margin: 0;

                                > li {
                                    > a {
                                        border: 0 none;
                                        border-radius: 4px;
                                        color: #777;
                                        display: block;
                                        font-size: 0.8em;
                                        font-weight: normal;
                                        margin: side-values(0 0 3px -8px);
                                        padding: 3px 8px;
                                        text-shadow: none;
                                        text-transform: none;
                                        text-decoration: none;
                                    }

                                    &:hover {
                                        > a {
                                            background: #f7f7f7;
                                        }
                                    }
                                }
                            }

                            // Shop
                            &.dropdown-mega-shop {
                                > .dropdown-item {
                                    padding: 0.5rem 0.8rem;
                                }
                            }
                        }

                        .wrapper-items-cloned {
                            i {
                                display: none;
                            }
                        }
                    }
                }
            }

            // Header Nav Main Square
            &.header-nav-main-square {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                border-radius: 0 !important;
                            }

                            &.dropdown {
                                .dropdown-menu {
                                    border-radius: 0 !important;

                                    li {
                                        &.dropdown-submenu {
                                            > .dropdown-menu {
                                                border-radius: 0 !important;
                                            }
                                        }
                                    }
                                }

                                .thumb-info, .thumb-info-wrapper {
                                    border-radius: 0 !important;
                                }
                            }

                            &.dropdown-mega {
                                > .dropdown-menu {
                                    border-radius: 0 !important;
                                }

                                .dropdown-mega-sub-nav {
                                    > li {
                                        > a {
                                            border-radius: 0 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Main Dropdown No Borders
            &.header-nav-main-dropdown-no-borders {
                nav {
                    #header-nav > ul {
                        > li {
                            &.dropdown {
                                .dropdown-menu {
                                    border: 0 !important;
                                    border-radius: 4px;

                                    li.dropdown-submenu {
                                        > .dropdown-menu {
                                            margin-top: -5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Main Font Small
            &.header-nav-main-font-sm {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }

            // Header Nav Main Font Large
            &.header-nav-main-font-lg {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                font-size: 1.1rem;
                                font-weight: 400;
                                text-transform: none;
                                letter-spacing: -1px;
                            }
                        }
                    }
                }
            }

            // Header Nav Main Font Alternative
            &.header-nav-main-font-alternative {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                font-family: 'Oswald', sans-serif;
                                font-size: 0.85rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            // Header Nav Main Dropdown Modern
            &.header-nav-main-dropdown-modern {
                nav {
                    #header-nav > ul {
                        > li {
                            &.dropdown {
                                .dropdown-menu {
                                    border: 0 !important;
                                    padding: 15px 8px;
                                    margin-left: -10px;
                                    li {
                                        a {
                                            border-bottom: 0;
                                            background: transparent !important;
                                            font-size: 0.85em;
                                            transition: all .2s ease-out;
                                            left: 0;
                                            &:hover, &:active {
                                                left: 5px;
                                            }
                                        }
                                    }

                                    li.dropdown-submenu {
                                        > .dropdown-menu {
                                            margin-top: -15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Main Dropdown Center
            &.header-nav-main-dropdown-center {
                nav {
                    #header-nav > ul {
                        > li {
                            &.dropdown:not(.dropdown-mega) {
                                > .dropdown-menu {
                                    transform: translate3d(-50%, 10px, 0) !important;
                                }
                                &:hover {
                                    > .dropdown-menu {
                                        top: 100%;
                                        left: 50%;
                                        transform: translate3d(-50%, 0, 0) !important;
                                    }
                                }
                            }
                        }
                    }
                }
                &.header-nav-main-dropdown-center-bottom {
                    nav {
                        #header-nav > ul {
                            > li {
                                &.dropdown {
                                    &:hover {
                                        > .dropdown-menu {
                                            margin-top: -14px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Main Dropdown Arrow
            &.header-nav-main-dropdown-arrow {
                nav {
                    #header-nav > ul {
                        > li {
                            &.dropdown {
                                > .dropdown-item {
                                    position: relative;

                                    &:before {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        top: auto;
                                        left: 50%;
                                        width: 0;
                                        height: 0;
                                        border-left: 7px solid transparent;
                                        border-right: 7px solid transparent;
                                        border-bottom: 7px solid white;
                                        transform: translate3d(-7px, 10px, 0);
                                        bottom: 14px;
                                        margin-top: auto;
                                        z-index: 1001;
                                        opacity: 0;
                                        transition: ease transform 300ms;
                                    }
                                }

                                &.open, &:hover {
                                    > .dropdown-menu {
                                        margin-top: -14px !important;
                                        box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.1);
                                    }

                                    > .dropdown-item {
                                        &:before {
                                            opacity: 1 !important;
                                            transform: translate3d(-7px, 0, 0);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Main Dark
            &.header-nav-main-dark {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                color: #444;
                            }
                        }
                    }
                }
            }

            // Header Nav Slide
            &.header-nav-main-slide {
                nav {
                    #header-nav > ul {
                        > li {

                            > a {
                                background-color: transparent;
                                color: #fff;
                                text-transform: none;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 18px 18px 22px !important;
                                margin: 0 !important;
                                transition: ease transform 300ms;

                                @media (min-width: 992px) {
                                    &.dropdown-toggle {
                                        &:after {
                                            visibility: hidden;
                                        }
                                    }
                                }

                                &.item-original {
                                    display: none;
                                }
                            }

                            > span {
                                display: flex;
                                position: relative;
                                height: 100%;
                                overflow: hidden;

                                > a {
                                    display: flex;
                                    align-items: center;
                                    white-space: normal;
                                    border-radius: 4px;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 700;
                                    letter-spacing: -0.5px;
                                    text-transform: uppercase;
                                    position: relative;
                                    background: transparent !important;
                                    color: #444;
                                    padding: 0 .9rem;
                                    margin: 1px 0 0;
                                    min-height: 60px;
                                    height: 100%;
                                    transition: ease all 300ms;
                                    transform: translateY(0%);

                                    &.dropdown-toggle:after {
                                        display: none;
                                    }

                                    .fa-caret-down {
                                        display: none;
                                    }

                                    &.active {
                                        &:first-child {
                                            transform: translateY(-40%);
                                            opacity: 0;
                                        }

                                        &.item-two {
                                            transform: translateY(0);
                                            opacity: 1;
                                        }
                                    }
                                }

                                .item-two {
                                    position: absolute;
                                    transform: translateY(40%);
                                    opacity: 0;
                                    width: auto;
                                    left: 0;
                                }
                            }

                            &:hover {
                                > span {
                                    > a:first-child {
                                        transform: translateY(-40%);
                                        opacity: 0;
                                    }

                                    .item-two {
                                        transform: translateY(0%);
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Thumb Preview
            a {
                > .thumb-info-preview {
                    position: absolute;
                    display: block;
                    #{$left}: 100%;
                    opacity: 0;
                    border: 0;
                    padding-#{$left}: 10px;
                    background: transparent;
                    overflow: visible;
                    margin-top: 15px;
                    top: -10000px;
                    transition: transform .2s ease-out, opacity .2s ease-out;
                    transform: if-ltr(translate3d(-20px, 0, 0), translate3d(20px, 0, 0));

                    .thumb-info-wrapper {
                        background: #fff;
                        display: block;
                        border-radius: 4px;
                        border: 0;
                        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
                        margin: 0;
                        padding: 4px;
                        text-align: $left;
                        width: 190px;
                    }

                    .thumb-info-image {
                        transition: all 6s linear 0s;
                        width: 182px;
                        height: 136px;
                        min-height: 0;
                    }
                }

                &:hover {
                    > .thumb-info-preview {
                        transform: translate3d(0,0,0);
                        top: 0;
                        opacity: 1;
                        margin-top: -5px;
                    }
                }
            }

            .dropdown-reverse {
                a {
                    > .thumb-info-preview {
                        transform: translate3d(20px, 0, 0);
                        right: 100%;
                        left: auto;
                        padding-left: 0;
                        margin-right: 10px;
                    }

                    &:hover {
                        > .thumb-info-preview {
                            transform: translate3d(0,0,0);
                        }
                    }
                }
            }
        }

        // Header Navbar
        .header-nav-bar {
            z-index: 1;

            &.header-nav-bar-top-border {
                border-top: 1px solid #ededed;
            }

            .header-container {
                min-height: 0;
                height: auto !important;
            }

            .header-nav {
                min-height: 60px;
            }

            .header-nav {
                .header-nav-main.header-nav-main-dropdown-arrow {
                    nav {
                        #header-nav > ul {
                            > li {
                                &.dropdown {
                                    > .dropdown-item {
                                        &:before {
                                            bottom: 1px !important;
                                            margin-left: 0;
                                        }
                                    }

                                    &.open,
                                    &:hover {
                                        > .dropdown-menu {
                                            margin-top: -1px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .header-nav-links:not(.justify-content-lg-center) {
                .header-nav-main.header-nav-main-dropdown-arrow {
                    nav {
                        #header-nav > ul {
                            > li {
                                margin-left: 0;
                                margin-right: 0;

                                &.dropdown {
                                    > .dropdown-item {
                                        padding: 0 0 0 2rem !important;

                                        &:before {
                                            bottom: 1px !important;
                                            margin-left: 17px;
                                        }
                                    }

                                    &.open,
                                    &:hover {
                                        > .dropdown-menu {
                                            margin-top: -1px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Header Nav Main Styles
        .header-nav {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;
            align-self: stretch;

            // Header Nav Stripe
            &.header-nav-stripe {
                padding: 0;

                .header-nav-main {
                    align-self: stretch;
                    margin-top: -1px;
                    min-height: 0;
                }

                nav {
                    display: flex;

                    #header-nav > ul {
                        > li {
                            display: inline-flex;
                            align-self: stretch;

                            > a {
                                background: transparent;
                                padding: 0 .9rem;
                                margin: 1px 0 0;
                                height: 100%;

                                &.active {
                                    color: #333;
                                    background: transparent;
                                }
                            }

                            &:hover, &.open {
                                > a, > a.active {
                                    color: #fff;
                                    padding-bottom: 0;
                                }
                            }

                            &.dropdown {
                                &.open, &:hover {
                                    > a {
                                        &:before {
                                            content: none;
                                        }
                                    }
                                    > .dropdown-menu {
                                        top: 100%;
                                        #{$left}: 0; // iefix
                                        margin-top: 1px;
                                    }
                                }

                                &.dropdown-reverse {
                                    > .dropdown-menu {
                                        #{$left}: auto;
                                    }
                                }
                            }
                        }
                    }
                }

                &.header-nav-main-dark {
                    nav {
                        #header-nav > ul {
                            > li {
                                &:hover {
                                    > a {
                                        color: #fff !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.header-nav-stripe {
                nav {
                    #header-nav > ul:not(:hover) {
                        > li {
                            > a {
                                &.active {
                                    color: #fff !important;
                                }
                            }
                        }
                    }

                    #header-nav > ul {
                        > li:hover {
                            > a {
                                &.active {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Links / Line
            &.header-nav-links,
            &.header-nav-line {
                padding: 0;

                .header-nav-main {
                    align-self: stretch;
                    min-height: 0;
                    margin-top: 0;
                }

                nav {
                    #header-nav > ul {
                        > li, > li:hover {
                            > a {
                                position: relative;
                                background: transparent !important;
                                padding: 0 .9rem;
                                margin: 1px 0 0;
                                min-height: 60px;
                                height: 100%;
                            }
                        }

                        > li {
                            &:hover, &.open {
                                > a {
                                    color: $nav-link-active-color !important;

                                    &:before {
                                        opacity: 1;
                                        top: -4px !important;
                                        background: $nav-link-active-color !important;
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        left: 0;
                                        right: 0;
                                    }
                                }
                            }

                            > a {
                                &.active {
                                    background: transparent;
                                    color: $nav-link-active-color !important;

                                    &:before {
                                        opacity: 1;
                                        top: -4px;
                                        background: $nav-link-active-color;
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        left: 0;
                                    }
                                }
                            }

                            &.dropdown {
                                > a {
                                    &:before {
                                        border-bottom: 0;
                                    }
                                }

                                &.open, &:hover {
                                    > .dropdown-menu {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.header-nav-links:not(.header-nav-light-text),
            &.header-nav-line:not(.header-nav-light-text) {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                color: #444;
                            }
                        }
                    }
                }
            }

            &.header-nav-links.header-nav-light-text,
            &.header-nav-line.header-nav-light-text {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            &.header-nav-links.header-nav-force-light-text,
            &.header-nav-line.header-nav-force-light-text {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                color: #fff !important;
                                &.active {
                                    color: #fff !important;
                                }
                            }
                            &:hover, &:focus, &:active {
                                > a {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }

            &.header-nav-line {
                nav {
                    #header-nav > ul {
                        > li, > li:hover {
                            > a {
                                &:before {
                                    content: "";
                                    position: absolute;
                                    background: transparent;
                                    width: auto;
                                    height: 3px;
                                    top: -2px;
                                    left: -1px;
                                    right: -1px;
                                    opacity: 0;
                                }
                            }
                        }

                        > li:hover {
                            > a {
                                &:before {
                                    opacity: 1 !important;
                                }
                            }
                        }
                    }
                }

                // Header Nav Top Line
                &.header-nav-top-line {
                    nav {
                        #header-nav > ul {
                            > li, > li:hover {
                                > a {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        height: 3px;
                                        top: -2px;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }

                    &.header-nav-top-line-with-border {
                        nav {
                            #header-nav > ul {
                                > li, > li:hover {
                                    > a {
                                        &:before {
                                            top: -4px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // Header Nav Bottom Line
                &.header-nav-bottom-line {
                    nav {
                        #header-nav > ul {
                            > li, > li:hover {
                                > a {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: auto;
                                        height: 3px;
                                        top: 50%;
                                        left: 15px;
                                        right: 15px;
                                        margin-top: 15px;
                                        transform: translate3d(0, -50%, 0);
                                    }
                                }
                            }
                        }
                    }

                    &.header-nav-line-under-text {
                        nav {
                            #header-nav > ul {
                                > li, > li:hover {
                                    > a {
                                        &:before {
                                            left: 0;
                                            right: 0;
                                            height: 7px;
                                            margin: 6px 10px 15px 10px;
                                            opacity: 0.3 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.header-nav-bottom-line-effect-1 {
                        nav {
                            #header-nav > ul {
                                > li {
                                    > a {
                                        &:before {
                                            transition: cubic-bezier(0.55, 0, 0.1, 1) right 300ms;
                                            right: 100%;
                                        }

                                        &.active {
                                            &:before {
                                                right: 15px;
                                            }
                                        }
                                    }
                                }

                                > li:hover {
                                    > a {
                                        &:before {
                                            right: 15px;
                                        }
                                    }
                                }
                            }
                        }

                        &.header-nav-line-under-text {
                            nav {
                                #header-nav > ul {
                                    > li {
                                        > a {
                                            &.active {
                                                &:before {
                                                    right: 0;
                                                }
                                            }
                                        }
                                    }

                                    > li:hover {
                                        > a {
                                            &:before {
                                                right: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav No Space Dropdown
            &.header-nav-no-space-dropdown {
                nav {
                    #header-nav > ul {
                        > li {
                            &.dropdown {
                                &.open, &:hover {
                                    > .dropdown-menu {
                                        margin-top: -1px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Force Light Text
            &.header-nav-force-light-text {
                .header-nav-main {
                    nav {
                        #header-nav > ul {
                            > li {
                                &, .wrapper-items-cloned {
                                    > a {
                                        color: #fff !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.header-nav-force-light-text:not(.header-nav-force-light-text-active-skin-color) {
                .header-nav-main {
                    nav {
                        #header-nav > ul {
                            > li {
                                &, .wrapper-items-cloned {
                                    &:hover {
                                        > a {
                                            color: #333 !important;
                                        }
                                    }
                                }
                            }

                            &:not(:hover) {
                                > li {
                                    &, .wrapper-items-cloned {
                                        > a.active {
                                            color: #333 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Icons
            &.header-nav-icons {
                nav {
                    #header-nav> ul {
                        > li {
                            > a {
                                [class*="mdi-"], .icons {
                                    font-size: 1.1rem;
                                    margin-#{$right}: 0.28rem;
                                    margin-top: 0.1rem;
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Divisor
            &.header-nav-divisor {
                nav {
                    #header-nav > ul {
                        > li {
                            margin: 0;

                            > a {
                                border-right: 1px solid rgba(0, 0, 0, 0.07);
                            }

                            &:last-child {
                                > a {
                                    border-right: 0;
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Spaced
            &.header-nav-spaced {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                margin: 0 !important;
                                padding-right: 1.5rem !important;
                                padding-left: 1.5rem !important;
                            }
                        }
                    }
                }
            }

            // Header Nav Dark Dropdown
            &.header-nav-dropdowns-dark {
                nav {
                    #header-nav > ul {
                        > li.dropdown {
                            > a {
                                &:before {
                                    border-bottom: 0;
                                }
                            }

                            li {
                                a {
                                    border-bottom-color: #2a2a2a;
                                }
                            }

                            .dropdown-menu {
                                background: #1e1e1e;
                                margin-top: 0;
                                > li {
                                    > a {
                                        color: #969696;
                                    }

                                    &:hover, &:focus {
                                        > a {
                                            background: #282828;
                                        }
                                    }
                                }
                            }

                            &.dropdown-mega {
                                .dropdown-mega-sub-title {
                                    color: #ababab;
                                }

                                .dropdown-mega-sub-nav {
                                    > li {
                                        &:hover, &:focus, &:active, &.active {
                                            > a {
                                                background: #282828;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Items Sub Titles
            &.header-nav-sub-title,
            &.header-nav-sub-title-animated {
                .header-nav-main {
                    nav {
                        #header-nav > ul {
                            > li {
                                > a {
                                    position: relative;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: center;
                                    padding-right: 0;
                                    padding-left: 0;
                                    margin-left: 0.7rem;
                                    margin-right: 0.7rem;

                                    > span {
                                        font-size: 0.9em;
                                        text-transform: none;
                                        font-weight: normal;
                                        margin-top: 0.3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.header-nav-sub-title {
                .header-nav-main {
                    nav {
                        #header-nav > ul {
                            > li {
                                > a {
                                    > span {
                                        margin-top: -0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.header-nav-sub-title-animated {
                .header-nav-main {
                    nav {
                        #header-nav > ul {
                            > li {
                                > a {
                                    transition: ease padding-bottom 300ms;

                                    &.active {
                                        padding-bottom: 15px;

                                        > span {
                                            top: 60%;
                                            left: 0;
                                            opacity: 1;
                                        }
                                    }

                                    > span {
                                        position: absolute;
                                        top: 50%;
                                        left: 0;
                                        margin-top: 0;
                                        opacity: 0;
                                        transform: translate3d(0, -50%, 0);
                                        transition: ease opacity 200ms, ease top 300ms;
                                    }
                                }

                                &:hover,
                                &:focus {
                                    > a {
                                        padding-bottom: 15px;

                                        > span {
                                            top: 60%;
                                            left: 0;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Links Side Header
            &.header-nav-links-side-header {
                nav {
                    #header-nav > ul {
                        > li {
                            > a {
                                padding: 10px 15px !important;
                                min-height: 0 !important;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                                border-radius: 0;
                            }

                            &:last-child {
                                > a {
                                    border-bottom: 0;
                                }
                            }
                            &.dropdown {
                                position: static;

                                > .dropdown-item {
                                    position: relative;
                                }
                            }

                            &.dropdown:hover {
                                > .dropdown-item {

                                    &:before {
                                        right: 15px;
                                        opacity: 1 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Header Nav Click to Open
            &.header-nav-click-to-open {
                nav {
                    #header-nav > ul {
                        > li.dropdown {
                            .dropdown-menu,
                            li.dropdown-submenu > .dropdown-menu {
                                transition: opacity .2s ease-out;
                            }

                            &:hover:not(.open) {
                                .dropdown-menu {
                                    top: -10000px;
                                    opacity: 0;
                                }
                            }
                        }

                        > li.dropdown.open {
                            .dropdown-menu {
                                > li.dropdown-submenu {
                                    &:hover:not(.open) {
                                        .dropdown-menu {
                                            top: -10000px;
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

