$primary-color: #0088cc;
$secondary-color: #e36159;
$tertiary-color: #2baab1;
$quaternary-color: #383f48;
$dark-color: #212529;
$light-color: #fff;
$alternative-font-color: #0088cc;
$light-text-color: #777;

@import 'skin';