/* purgecss start ignore */
.docs-sidebar {
    @apply pb-8;
}

.docs-sidebar ul {
    @apply list-none m-0 p-0;
}

.docs-sidebar ul li {
    @apply block whitespace-nowrap py-2;
}

.docs-sidebar ul li h2 {
    @apply block text-black no-underline mb-3 font-semibold text-doc-nav;
}

.docs-sidebar ul li a {
    @apply relative block font-semibold text-black no-underline text-doc-nav transition;
}

.docs-sidebar ul li a:hover {
    transform: translate3d(5px, 0, 0);
}

.docs-sidebar ul ul {
    @apply overflow-hidden;
}

.docs-sidebar ul ul li a {
    @apply pl-4 font-normal leading-tight;
}

.docs-sidebar ul li.active a {
    @apply font-semibold;
}

.docs-sidebar ul li.active a:before {
    content: '';
    @apply w-2 h-2 bg-blue-gray-500 rounded-full left-0.5 top-0.5 absolute;
}

.docs-main ul.table-of-contents {
    @apply list-none m-0 mb-6 p-0;
}

.docs-main ul.table-of-contents p {
    margin-bottom: 0 !important;
}

.docs-main ul.table-of-contents li {
    @apply block mb-2;
}

.docs-main ul.table-of-contents li a {
    @apply relative text-sm font-semibold text-black hover:text-black no-underline;
}

.docs-main ul.table-of-contents li a:before {
    content: '# ';
    @apply text-blue-500;
}

.docs-main ul.table-of-contents ul {
    @apply mt-1.5 p-0;
    margin-bottom: 0 !important;
}

.docs-main ul.table-of-contents ul li {
    @apply pl-6 mb-1;
}

.docs-main ul.table-of-contents ul li a {
    @apply font-normal;
}
/* purgecss end ignore */
