.action-item {
    @apply relative
        bg-white
        p-6
        cursor-pointer
        focus-within:ring-2
        focus-within:ring-inset
        focus-within:ring-primary-500;

    &:first-child {
        @apply rounded-tl-lg
            rounded-tr-lg
            sm:rounded-tr-none;
    }

    &:nth-child(2) {
        @apply sm:rounded-tr-lg;
    }

    &:nth-last-child(2) {
        @apply sm:rounded-bl-lg;

        // For when we have an un-even amount of actions in the list...
        &:nth-child(even) {
            @apply sm:rounded-bl-none;
        }
    }

    &:last-child {
        @apply rounded-bl-lg
            rounded-br-lg
            sm:rounded-bl-none;

        // For when we have an un-even amount of actions in the list...
        &:nth-child(odd) {
            @apply sm:col-span-2;
        }
    }
}
