.btn-container:not(.w-full) {
    width: inherit;
}

.btn {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply rounded-md;
    @apply px-4;
    @apply py-2;
    @apply text-base;
    @apply leading-6;
    @apply font-medium;
    @apply transition;
    @apply ease-in-out;
    @apply duration-150;
    @apply shadow-sm;

    @screen sm {
        @apply text-sm;
        @apply leading-5;
    }

    &:focus {
        @apply outline-none;
    }

    &-disabled, &[disabled]:not(.btn-busy) {
        @apply opacity-75 cursor-not-allowed;
    }

    &-busy {
        @apply opacity-75 cursor-wait;
    }

    &:not(.w-full) {
        width: inherit;
    }
}

@responsive {
    .btn-sm {
        @apply px-2 py-1;
    }

    .btn-md {
        @apply px-4 py-2;
    }

    .btn-lg {
        @apply px-6 py-3;
    }

    .btn-xl {
        @apply px-8 py-4;
    }
}

.btn > svg {
    @apply h-5;
    @apply w-5;

    &.svg-before {
        @apply -ml-1;
        @apply mr-1.5;
    }

    &:not(.svg-before) {
        @apply ml-1.5;
        @apply -mr-1;
    }
}

.btn-icon > svg {
    margin: 0 !important;
}

.btn-icon {
    @apply px-2;
}

.btn-primary {
    @apply text-white;
    @apply bg-blue-600;

    &:hover:not(.btn-disabled):not(.btn-busy):not([disabled]) {
        @apply bg-blue-500;
    }

    &:focus {
        @apply border-blue-700;
        @apply shadow-outline;
    }

    &:active {
        @apply bg-blue-700;
    }
}
