/* purgecss start ignore */
.docs-main {
    h1:not(.banner-slogan) {
        @apply text-4xl font-semibold tracking-normal;
    }

    p {
        @apply text-base leading-7 text-black font-light;
    }

    ol,
    p,
    ul:not(.table-of-contents) {
        @apply mb-5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-normal mb-4;
    }

    h2 {
        @apply text-2xl tracking-normal lg:text-3xl mt-6;
    }

    pre[class*="language-"] + h2 {
        @apply mt-12;
    }

    h3,
    h4 {
        @apply tracking-normal font-medium;
    }

    h3 {
        @apply text-base lg:text-lg;
    }

    h4 {
        @apply text-sm lg:text-base;
    }

    h2 a,
    h3 a,
    h4 a {
        @apply text-blue-500
            text-2xl
            lg:text-3xl
            opacity-75
            no-underline
            font-light
            absolute
            text-right
            pr-2
            -left-6
            top-0
            hover:opacity-100;
    }

    h3 a {
        @apply text-base lg:text-lg -left-4 top-0;
    }

    h4 a {
        @apply text-sm lg:text-base -left-4 top-0;
    }

    p code {
        @apply text-code;
    }

    :not(pre) > code,
    pre[class*=language-] {
        @apply select-auto bg-code-bg text-blue-600;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    }

    pre[class*=language-] {
        @apply mb-6 rounded-lg relative flex overflow-hidden;

        > code {
            @apply flex-1 overflow-auto py-2 pl-6;
        }
    }

    :not(pre) > code {
        @apply inline-flex py-0 px-1 max-w-full overflow-x-auto;
    }

    code {
        @apply font-medium text-code text-black leading-code font-mono;
    }

    ol a,
    p a,
    ul:not(.table-of-contents) a {
        @apply text-blue-500 underline break-words transition-colors hover:text-blue-400;
    }

    ul:not(:first-of-type) {
        @apply p-0 pl-6 list-disc m-0 mb-6;

        li {
            @apply relative
                p-0
                mb-3
                text-base
                text-black
                leading-7
                font-light;

            &:not(:last-child) {
                @apply mb-1.5;
            }

            code {
                @apply text-code;
            }
        }
    }

    table {
        @apply w-full border-collapse text-sm mb-8;

        th,
        td {
            @apply border border-gray-300 p-4 text-left;
        }

        th {
            @apply text-base;
        }
    }

    b,
    strong {
        @apply font-medium;
    }

    blockquote.ignore {
        @apply border-l-4
            border-blue-gray-300
            bg-gray-100
            pl-4
            py-2;

        p {
            @apply mb-0;
        }
    }
}

.callout p {
    @apply mb-0;
}

pre .copyBtn {
    @apply absolute
        right-3
        top-3
        h-6
        w-6
        outline-none
        text-gray-600
        hover:text-white
        focus:text-white
        focus:outline-none;
}

.docs-constrained {
    max-width: calc(100% - 4rem);
}
/* purgecss end ignore */
