/* purgecss start ignore */
ul.table-of-contents {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin-bottom: .5em;

        a {
            position: relative;
            font-size: .89em;
            font-weight: 500;
            text-decoration: none;

            &:before {
                content: "# ";
                @apply text-black;
            }
        }
    }

    > li > p > a {
        @apply font-bold;
    }

    li p {
        margin-bottom: 0 !important;
    }

    li ul li {
        &:before {
            display: none;
        }
    }

    > li ul {
        @apply mt-1;
    }
}
/* purgecss end ignore */
