.line-after {
    display: flex;
    align-items: center;

    &:after {
        @apply bg-blue-gray-500;
        content: '';
        flex-grow: 1;
        height: 2px;
        opacity: .25;
        margin-left: 1rem;
        border-radius: 4px;
    }
}
