:root {
    --link-border-color: currentcolor;
    --link-border-color-hover: currentcolor;
}

.link-base {
    cursor: pointer;
    transition: color .1s ease, text-decoration-color .1s ease;
    color: currentcolor;
}

.link,
a.link,
.links a {
    @apply link-base;

    &:focus {
        outline: 0;
    }
}

.link-underline,
a.link-underline,
.links-underline a {
    @apply link-base;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--link-border-color);

    &:focus {
        outline: 0;
    }

    &:active {
        top: 1px;
    }
}

.link-black,
a.link-black,
.links-black a {
    @apply text-black;
    --link-border-color: theme(colors.black) 40;

    &:hover {
        @apply text-opacity-75;
        --link-border-color: theme(colors.black) 80;
    }
}

.link-white,
a.link-white,
.links-white a {
    @apply text-white;
    --link-border-color: theme(colors.white) 40;

    &:hover {
        @apply text-opacity-75;
        --link-border-color: theme(colors.white) 80;
    }
}

.link-gray,
a.link-gray,
.links-gray a {
    @apply text-gray-500;
    --link-border-color: theme(colors.gray.500) 40;

    &:hover {
        @apply text-gray-700;
        --link-border-color: theme(colors.gray.500) 80;
    }
}

.app-link {
    @apply font-medium;
    @apply text-blue-600;
    @apply transition;
    @apply ease-in-out;
    @apply duration-150;

    &:hover {
        @apply text-blue-500;
        @apply underline;
    }

    &:focus {
        @apply outline-none;
        @apply underline;
    }
}
