:root {
    --link-border-color: currentcolor;
    --link-border-color-hover: currentcolor;
}

.link-base {
    @apply cursor-pointer
        text-current;
    transition: color .1s ease, text-decoration-color .1s ease;
}

.link-underline,
a.link-underline,
.links-underline a {
    @apply link-base
        underline
        focus:outline-blue-gray;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--link-border-color);

    &:active {
        top: 1px;
    }
}

.link-black,
a.link-black,
.links-black a {
    @apply text-black;
    --link-border-color: theme(colors.black) 40;

    &:hover {
        @apply text-opacity-75;
        --link-border-color: theme(colors.black) 80;
    }
}

.link-gray,
a.link-gray,
.links-gray a {
    @apply text-blue-gray-500;
    --link-border-color: theme(colors['blue-gray'].500) 40;

    &:hover {
        @apply text-blue-gray-700;
        --link-border-color: theme(colors['blue-gray'].500) 80;
    }
}
