/* purgecss start ignore */
.markup .title {
    @apply mb-8;
}

.markup .title-sm {
    @apply mb-4;
}

.markup address:not(:last-child),
.markup p:not(:last-child),
.markup ol:not(:last-child),
.markup ul:not(:last-child) {
    margin-bottom: 1.5em;
}

.markup strong {
    @apply font-display;
    @apply font-bold;
}

.markup em {
    @apply font-display;
    @apply font-normal;
}

.markup sub,
.markup sup {
    @apply text-xs;
}

.markup blockquote:not(.tip) {
    @apply mb-8;
    @apply px-4 py-2;
    @apply bg-gray-200;
    @apply border-l;
}

.markup-titles h1 {
    @apply text-4xl;
    @apply font-serif;
    @apply font-bold;
    @apply leading-tight;
    @apply mb-16;
    page-break-inside: avoid;
    page-break-after: avoid;

    @screen sm {
        @apply text-5xl;

        &:not(:first-child) {
            @apply mt-32;
            page-break-before: always;
        }
    }
}

.markup-titles h2 {
    @apply text-2xl;
    @apply font-display;
    @apply font-bold;
    @apply leading-tight;
    @apply mb-8;
    page-break-inside: avoid;
    page-break-after: avoid;

    &:not(:first-child) {
        @apply mt-16;
    }
}

.markup-titles h2 + h3 {
    @apply mt-8;
}

.markup-titles h3 {
    @apply font-display;
    @apply font-bold;
    @apply leading-tight;
    @apply mb-4;
    @apply mt-16;
    page-break-inside: avoid;
    page-break-after: avoid;
}

.markup-titles:not(.no-title-uppercase) h3 {
    @apply uppercase;
}

[class*="api-"] h3 {
    text-transform: none;
}

.markup-titles h4 {
    @apply text-xs;
    @apply font-display;
    @apply font-bold;
    @apply uppercase;
    @apply leading-tight;
    @apply mt-8;
    @apply mb-2;
    page-break-inside: avoid;
    page-break-after: avoid;
}

.markup-lists li:not(:last-child) {
    margin-bottom: .35em;
}

.markup-lists ul:not(.table-of-contents):not(.v-context):not(.demo) li {
    padding-left: 1em;
}

.markup-lists ul:not(.table-of-contents):not(.v-context):not(.demo) li:before {
    @apply text-black;
    content: '•';
    left: 0;
    position: absolute;
    opacity: .75;
}

.demo a {
    @apply text-gray-500;
    @apply no-underline;
}

.markup-lists ol {
    --counter-reset: ol;
    --counter-increment: ol;
    --counter-style: decimal;

    counter-reset: var(--counter-reset);

    > li {
        --counter-content: counter(var(--counter-increment), var(--counter-style)) '.';

        counter-increment: var(--counter-increment);
        padding-left: 2.5rem;

        &:before {
            left: 0;
            position: absolute;
            content: var(--counter-content);
        }
    }
}

.markup-code code:not(.hljs) {
    @apply bg-gray-300;
    @apply text-gray-800;
    @apply px-1;
    @apply font-mono;
    @apply rounded;
    font-size: .85em;
}

// Permalinks in front of markdown title
a.anchor-link {
    @apply border-0;
    @apply text-sm;
    @apply opacity-50;
    @apply no-underline;
    @apply pr-2;
    @apply font-light;
    @apply absolute;
    @apply text-right;
    right: 100%;
    top: .3em;
    font-size: .75em;
    height: 1em;
    width: 1em;
}

.tip {
    @apply bg-blue-50;
    @apply text-blue-500;
    @apply p-4;
    @apply rounded-lg;
    @apply mb-4;

    p {
        @apply text-sm;
    }
}

#close-on-scroll-app {
    @apply mb-4;
}
/* purgecss end ignore */
