.markup table {
    @apply w-full;
    @apply text-left;
    @apply overflow-hidden;
    border-radius: .5rem;

    th {
        font-size: .875rem;
        font-weight: 600;
        @apply text-gray-500;
        @apply p-2;
        @apply bg-gray-300;
    }

    tr:first-child td {
        border-width: 0;
    }

    td {
        @apply p-2;
        font-size: .875rem;
        @apply bg-gray-100;
        @apply border-t;
        @apply border-gray-300;
    }
}

.markup table + p {
    @apply mt-8;
}
