.badge {
    @apply inline-flex
        items-center
        px-2.5
        py-0.5
        rounded-full
        text-xs
        font-medium
        leading-4;
}

.badge__remove-button {
    @apply flex-shrink-0
        ml-1.5
        inline-flex
        focus:outline-blue-gray;
}

.badge__dot {
    @apply mr-1.5 -ml-0.5 h-2 w-2;
}

.badge--large {
    @apply px-3 text-sm leading-5;

    .badge__remove-button {
        @apply -mr-0.5;
    }

    .badge__dot {
        @apply -ml-1;
    }
}

.badge--rounded {
    @apply rounded;
}

/* purgecss start ignore */
$badge-colors: (blue-gray, cool-gray, gray, blue, red, rose, green, orange);

@mixin badge($variant) {
    .badge--#{"" + $variant} {
        @apply bg-#{"" + $variant}-100
            text-#{"" + $variant}-800;

        .badge__remove-button {
            @apply text-#{"" + $variant}-500
                hover:text-#{"" + $variant}-700
                focus:text-#{"" + $variant}-700;
        }

        .badge__dot {
            @apply text-#{"" + $variant}-400;
        }
    }
}

@each $badge-color in $badge-colors {
    @include badge($badge-color);
}
/* purgecss end ignore */
