$tooltip-arrow-color: theme('colors.cool-gray.800');

[data-tooltip] {
    @apply relative;
    z-index: 2;

    &:before,
    &:after {
        @apply absolute;
        visibility: hidden;
        @apply opacity-0;
        left: 50%;
        bottom: calc(100% + 5px);
        pointer-events: none;
        transition: 0.2s;
        will-change: transform;
    }

    &:before {
        content: attr(data-tooltip);
        @apply px-4;
        @apply py-2;
        min-width: 50px;
        max-width: 300px;
        width: max-content;
        @apply rounded-md;
        @apply text-sm;
        @apply bg-cool-gray-800;
        @apply shadow-md;
        @apply text-white;
        @apply text-center;
        white-space: pre-wrap;
        transform: translate(-50%, -5px) scale(0.5);
    }

    &:after {
        content: "";
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: $tooltip-arrow-color transparent transparent transparent;
        transition-duration: 0s;
        transform-origin: top;
        transform: translateX(-50%) scaleY(0);
    }

    &:hover:before,
    &:hover:after {
        visibility: visible;
        opacity: 1;
    }

    &:hover:before {
        transition-delay: 0.3s;
        transform: translate(-50%, -5px) scale(1);
    }

    &:hover:after {
        transition-delay: 0.5s;
        transition-duration: 0.2s;
        transform: translateX(-50%) scaleY(1);
    }
}

// Left position
[data-tooltip-position="left"] {
    &:before,
    &:after {
        left: auto;
        right: calc(100% + 5px);
        bottom: 50%;
    }

    &:before {
        transform: translate(-5px, 50%) scale(0.5);
    }

    &:hover:before {
        transform: translate(-5px, 50%) scale(1);
    }

    // Left position arrow
    &:after {
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent $tooltip-arrow-color;
        transform-origin: left;
        transform: translateY(50%) scaleX(0);
    }

    &:hover:after {
        transform: translateY(50%) scaleX(1);
    }
}

// Right position
[data-tooltip-position="right"] {
    &:before,
    &:after {
        left: calc(100% + 5px);
        bottom: 50%;
    }

    &:before {
        transform: translate(5px, 50%) scale(0.5);
    }

    &:hover:before {
        transform: translate(5px, 50%) scale(1);
    }

    // Right position arrow
    &:after {
        border-width: 5px 5px 5px 0;
        border-color: transparent $tooltip-arrow-color transparent transparent;
        transform-origin: right;
        transform: translateY(50%) scaleX(0);
    }

    &:hover:after {
        transform: translateY(50%) scaleX(1);
    }
}

// Bottom position
[data-tooltip-position="bottom"] {
    &:before,
    &:after {
        top: calc(100% + 5px);
        bottom: auto;
    }

    &:before {
        transform: translate(-50%, 5px) scale(0.5);
    }

    &:hover:before {
        transform: translate(-50%, 5px) scale(1);
    }

    // Bottom position arrow
    &:after {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $tooltip-arrow-color transparent;
        transform-origin: bottom;
    }
}
