@import '../../../vendor/rawilk/laravel-form-components/resources/css/index.css';

@layer components {
    /**
     * Remove the default box-shadow for invalid elements to prevent
     * inputs in Livewire components showing with a
     * red border by default in Firefox.
     *
     * See: https://github.com/laravel-frontend-presets/tall/issues/7
     */
    input:invalid, textarea:invalid, select:invalid {
        box-shadow: none;
    }

    [multiple] {
        padding: initial;
        border: initial;
        background: inherit;
        @apply shadow-none;
    }
}
