#docs-content .table-of-contents {
    @apply hidden;
}

#docs-content .prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before {
    content: '';
    display: none;
}

#docs-content .prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *))::after {
    content: '';
    display: none;
}

.tippy-box {
    @apply relative
    rounded-lg
    text-sm
    whitespace-normal
    outline-none
    bg-zinc-700
    text-white
    border
    border-zinc-500;

    transition-property: transform, visibility, opacity;

    .tippy-content {
        @apply relative
        px-[12px]
        py-[6px]
        z-[1];
    }
}

#docs-content {
    .prism-pre {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0;

        > code {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            tab-size: 4;
        }
    }

    .prism-wrapper {
        @apply overflow-hidden
        rounded-2xl
        border
        bg-fenced
        border-fenced-border
        my-4;

        + .prism-wrapper {
            @apply mt-6;
        }
    }

    .code-wrapper {
        @apply relative
        text-[length:1rem]
        min-w-full
        max-h-full
        overflow-auto;

        scrollbar-width: thin;
        scrollbar-color: theme(colors.fenced-border) theme(colors.fenced);  /* thumb-color track-color */
    }

    .code-editor {
        @apply bg-transparent
        box-border
        flex
        flex-col
        relative
        text-zinc-200;
    }

    .code-scroller {
        @apply font-mono
        h-full
        overflow-x-auto
        relative
        z-0
        flex
        items-start
        leading-[1.6]
        outline-none
        py-[21px]
        px-[26px];

        overflow-anchor: none;
    }
}

#docs-content .copy-btn {
    @apply relative
    items-center
    font-medium
    justify-center
    gap-2
    whitespace-nowrap
    h-8
    text-sm
    rounded-md
    w-8
    inline-flex
    bg-white/10
    hover:bg-white/20
    text-white
    border
    border-zinc-600
    hover:border-zinc-600
    shadow-sm
    focus:outline-none
    focus:border-zinc-600
    focus:bg-white/20;
}

.anchor-link {
    @apply pr-2;
    @apply text-right;
    @apply inline-block;
    @apply shadow-none !important;
    @apply text-sky-400;
    @apply focus:outline-none;
    @apply lg:absolute;
    @apply lg:-left-7;

    scroll-margin-top: 5rem;
}

#docs-content :not(pre) > code {
    @apply bg-sky-100;
    @apply dark:bg-sky-200;
    @apply dark:text-slate-500;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}
