body > .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    > .main {
        flex: 1;
    }
}

a:hover {
    text-decoration: underline;
}

ol.terms {
    margin-top: 2rem;

    .terms-heading {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2rem;

        &:not(:first-child) {
            padding-top: .75rem;
        }

        ol, p, ul {
            font-size: initial;
            font-weight: $font-weight-light;
            margin-top: 1rem;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;
            font-style: italic;

            li {
                margin-bottom: 5px;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    > li:last-child {
        list-style-type: none;
        margin-left: -48px;
    }
}

code.markup {
    font-size: 16px;
    background: rgba(0, 0, 0, 0.05);
    padding: 3px 4px;
    margin: 0 2px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.003em;
    color: rgba(0, 0, 0, 0.84);
}

.single-project {
    .img-thumbnail > img {
        border: 1px solid #ccc;
    }
}

::placeholder {
    color: #ccc !important;
    font-weight: 300;
}

@media (min-width: 515px) and (max-width: 767px) {
    .code-computer {
        transform: scale(1.5) !important;
    }
}

@media (max-width: 436px) {
    .resume-actions {
        a {
            display: block;
            width: 100%;

            &:first-child {
                margin-bottom: 1.5rem;
            }
        }
    }
}