// Typography
$font-primary: "Roboto", sans-serif;
$font-secondary: "Shadows Into Light", cursive;
$font-tertiary: "Oswald", sans-serif;

$body-font-size: 16;
$root-font-size: 12;
$body-line-height: 26;

// weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

// spacement
$spacement-increment: 5px;
$spacement-xs: $spacement-increment;
$spacement-sm: $spacement-xs + $spacement-increment;
$spacement-md: $spacement-sm + $spacement-increment;
$spacement-lg: $spacement-md + $spacement-increment;
$spacement-xl: $spacement-lg + $spacement-increment;
$spacement-xlg: $spacement-xl + $spacement-increment;

// borders
$border-thin: 3px;
$border-normal: 5px;
$border-thick: 7px;
$border-radius: 5px;

// Colors
$color-font-default: #777;

$color-default: #f2f2f2;
$color-default-inverse: #777;

$color-muted: #999;

$color-light: #fff;
$color-light-inverse: #212529;

$color-grey: #ededed;

$color-dark: #212529;
$nav-link-active-color: #0088cc;
$color-dark-inverse: #fff;
$color-dark-1: $color-dark;
$color-dark-2: lighten($color-dark-1, 2%);
$color-dark-3: lighten($color-dark-1, 5%);
$color-dark-4: lighten($color-dark-1, 8%);
$color-dark-5: lighten($color-dark-1, 3%);
$color-darken-1: darken($color-dark-1, 2%);

$color-primary: #ccc;
$color-primary-inverse: #fff;

$color-secondary: #e36159;
$color-secondary-inverse: #fff;

$color-tertiary: #2baab1;
$color-tertiary-inverse: #fff;

$color-quaternary: $color-dark-4;
$color-quaternary-inverse: #fff;

$color-success: #28a745;
$color-success-inverse: #fff;

$color-warning: #ffc107;
$color-warning-inverse: #fff;

$color-danger: #dc3545;
$color-danger-inverse: #fff;

$color-info: #17a2b8;
$color-info-inverse: #fff;

// colors list
$colors-list: (primary $color-primary $color-primary-inverse) (secondary $color-secondary $color-secondary-inverse) (tertiary $color-tertiary $color-tertiary-inverse) (quaternary $color-quaternary $color-quaternary-inverse);

// states list
$states: (primary $color-primary $color-primary-inverse) (success $color-success $color-success-inverse) (warning $color-warning $color-warning-inverse) (danger $color-danger $color-danger-inverse) (info $color-info $color-info-inverse) (dark $color-dark $color-dark-inverse);

// light version
$light-bg: #fff;
$footer-bg: #1a1c1e;

// dark version
$dark-bg: $color-dark;
$dark-default-text: #808697;

// social providers
$facebook: #3b5a9a;
$linkedin: #0073b2;
$github: #24292e;
$twitter: #1aa9e1;

// grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;