@layer components {
    .form-input-wrp {
        @apply flex
        rounded-lg
        shadow-sm
        ring-1
        transition
        duration-75
        bg-white
        focus-within:ring-2
        ring-gray-950/10
        focus-within:ring-blue-600
        overflow-hidden;
    }

    .form-input {
        @apply text-black
        block
        border-none
        py-1.5
        text-base
        transition
        duration-75
        placeholder:text-gray-400
        focus:ring-0
        disabled:text-gray-500
        disabled:[-webkit-text-fill-color:theme(colors.gray.500)]
        sm:text-sm
        sm:leading-6
        bg-white/0
        ps-3
        pe-3;
    }
}
