.portfolio-title {
    margin-bottom: -10px;

    a {
        display: inline-block;
    }

    [class*="mdi-"],
    .icons {
        font-size: 1.7em;
    }

    .portfolio-nav {
        margin-top: 11px;
        text-align: right;

        a {
            width: 40%;

            @include if-rtl {
                float: right;
                transform: rotate(180deg);
                transform-origin: 50% 42%;
            }
        }
    }

    .portfolio-nav-all {
        margin-top: 9px;

        [class*="mdi-"],
        .icons {
            font-size: 2em;
        }
    }

    .portfolio-nav-prev {
        text-align: left;
    }
}

.portfolio-info {
    margin: 2px 0 10px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            border-#{$right}: 1px solid #e6e6e6;
            color: #b1b1b1;
            padding-#{$right}: 8px;
            marginn-#{$right}: 8px;
            font-size: 0.9em;

            &:last-child {
                border-#{$right}: 0;
                padding-#{$right}: 0;
                margin-#{$right}: 0;
            }

            a {
                text-decoration: none;
                color: #b1b1b1;

                &:hover {
                    .favorite {
                        color: #e53f51;
                    }
                }
            }

            [class*="mdi-"],
            .icons {
                margin-#{$right}: 4px;
            }
        }
    }
}

.portfolio-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    &:not(.row) {
        margin: 0;
    }

    .portfolio-item {
        position: relative;
        margin-bottom: 35px;
    }
}

.portfolio-details {
    list-style: none;
    padding: 0;
    margin: side-values(45px 0 0 5px);
    font-size: 0.9em;

    > li {
        padding: 0;
        margin: 0 0 20px;
    }

    p {
        padding: 0;
        margin: 0;
    }

    blockquote {
        padding: 0 0 0 10px;
        margin: 15px 0 0;
        color: #999;
    }

    .list-icons {
        margin-#{$left}: 0;

        > li {
            padding-#{$left}: 18px;
            margin-#{$right}: 10px;

            [class*="mdi-"],
            .icons {
                top: 7px;
            }
        }
    }
}

.portfolio-next,
.portfolio-prev {
    &:hover {
        [class*="mdi-"],
        .icons {
            animation: navItemArrow 600ms ease;
            animation-iteration-count: infinite;
        }
    }
}

@media (max-width: 991px) {
    .portfolio-nav,
    .portfolio-nav-all {
        display: none;
    }
}